@font-face {
	font-family: "emel";
	src: url("fonts/ml.ttf");
}			 
@font-face {
	font-family: "disc";
	src: url("fonts/disc.otf");
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Eagle Light', sans-serif;
}
	
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	background: #1d2b3a;
}
h1 {
	color: #fff;
	font-family: "disc";
}
p {
	color: #D3D3D3;
	font-family: "disc";
	width: 85%;
}
.calc {
	cursor: pointer;
	border-color: rgba(255, 255, 255, 0.25);
	background-color: #1d2b3a;
	border-style: solid;
	border-radius: 5px;
	font-size: 1em;
	padding: 5px 15px;
	color: #00dfc4;
	transition: 0.2s;
}
.calc:hover {
	border-color: #00dfc4;
	background-color: #00dfc4;
	color: #fff;
}
.calc:active {
	border-color: #00423a;
	background-color: #00423a;
	color: #00dfc4;
}
.info {
	width: 85%;
}
.info p {
	width: 100%;
	align-items: center;
}
.info h1 {
	align-items: center;
	margin: auto;
	display: flex;
}
.inputBox {
	flex-direction: column;
	position: relative;
	width: 250px;
}
.inputBox input {
	width: 100%;

	padding: 10px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background: #1d2b3a;
	border-radius: 5px;
	outline: none; 
	color: #fff;
	font-size: 1em;
	transition: 0.5s;
}
.inputBox  span {
	position: absolute;
	left: 0;
	padding: 10px;
	pointer-events: none;
	font-size: 1em;
	color: rgba(255, 255, 255, 0.25);
	text-transform: uppercase;
	transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
	color: #00dfc4;
	transform: translateX(10px) translateY(-7px);
	font-size: 0.65em;
	padding: 1px 10px;
	background: #00dfc4;
	color: #1d2b3a;
	border-radius: 2px;
	letter-spacing: 0.2em;
	
}

.inputBox input:valid,
.inputBox input:focus  {
	border: 1px solid #00dfc4;
}
